@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using BlogApp.Models
@model Post
@{
    Layout = "_Layout";
}

<div class="container mt-5 bg-light mb-3">
    <div class="container mt-3">
        <div style="display:inline-flex">
            <div class="container">
                <div class="container">
                    <div class="mr-5" style="display:inline-flex">
                        <h6 style="color:mediumblue; margin:5px">@Model.UserEmail</h6>
                        <h6 class="ml-3" style="margin:5px">@Model.Date</h6> 
                    </div>
                    <div>
                        @if (HttpContextAccessor.HttpContext.Session.GetString("UserId") == Model.UserId)
                        {
                            <a class="btn btn-dark text-white" asp-route-id="@Model.Id" asp-controller="Main" asp-action="EditPost">Update</a>
                            <a class="btn btn-danger text-white" asp-route-id="@Model.Id" asp-controller="Main" asp-action="DeletePost">Delete</a>
                        }
                    </div>
                    <hr style="margin:1px" />
                </div>
                <div class="container">
                    <h4><a style="font-weight:bold" asp-route-id="@Model.Id" asp-controller="Main" asp-action="PostView">@Model.Title</a></h4>
                </div>
                <div class="container mt-3">
                    <p>@Model.Content</p> 
                </div>
            </div>
        </div>
    </div>
</div>
